<div class="container people-asbent">
  <div class="panel panel-default text-center">
    <div class="panel-heading">
      <span>Les personnes absentes</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <% i = 1 %>
          <% 31.times do %>
          <li class="numero-calendar <%= 'color-today-barre' if Time.now.strftime("%d").to_i == i %>"><%= i %></li>
          <% i += 1 %>
          <% end %>
        </div>
      </div>
      <% @users.each_with_index do |user, index| %>
      <% if !user.endnothere.nil? %>
      <div class="row">
        <div class="col-md-1 name">
          <%= user.first_name %>
        </div>
        <div class="col-md-11">
          <% numbers = (1..31).to_a %>
          <% numbers.each_with_index do |number, index|%>
          <li class="<%= 'color-white' if user.endnothere.strftime("%d").to_i <= number %> <%= 'color-white' if user.startnothere.strftime("%d").to_i > number %> <%= 'color-today-people' if Time.now.strftime("%d").to_i == number %> color-here <%= 'color-last' if number == Time.now.strftime("%d").to_i %>"  > <%= number %></li>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
