<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row text-center sidebar-list">
        <div class="col-md-6">
          <%= link_to "Mon profil", edit_user_registration_path, class: "sidebar-link active"  %>
        </div>
        <div class="col-md-6">
          <%= link_to (current_user.apartment_users.length > 1 ? "Mes apartment" : "Mon apartment"), apartments_path, class: "sidebar-link" %>
        </div>
      </div>
    </div>
    <div class="panel body dash-apartment">
      <div class="row">
    <div class="col-md-12 text-center">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render 'shared/devisemes' %>

          <h3>Informations personnelles</h3>


           <div class="form-group">
            <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %>
          </div>

           <div class="form-group">
            <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Last Name" %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>

           <div class="form-group">
            <%= f.text_field :phone_number, autofocus: true, class: "form-control", placeholder: "Your Mobile Phone Number" %>
          </div>

          <div class="form-group">
            <%= f.check_box :show_phone %>
            Je refuse de partager mon numéro de téléphone avec mes voisins
          </div>

            <div class="form-group select">
              <%= f.select :phone_number, (0..9), id: "building_id", prompt:"Selectionner votre étage", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.text_field :phone_number, autofocus: true, class: "form-control", placeholder:"Entrer le numéro (ex: 301) ou la position de votre appartement (ex: 'gauche en sortant de l'ascenceur')" %>
            </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New password (Leave blank if you don't want to change it)" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password" %>
          </div>

          <div class="form-group">
          <%= f.password_field :current_password, placeholder: "we need your current password to confirm your changes", required: true, class: "form-control"%>
          </div>

          <div class="actions">
            <%= f.submit "Save", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
  </div>

      </div>
    </div>
  </div>
</div>
