<div class="container">
  <h3 class="text-left page-header">Utilisateurs <small>(<%= @users.count %>)</small></h3>
  <div class="row">
    <%= simple_form_for @user, url: users_path  do |f| %>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <%= f.input :first_name, label: "Prénom" %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <%= f.input :last_name, label: "Nom"  %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <%= f.input :email, label: "Email"  %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <%= f.input :phone_number, label: "Numéro de tel"  %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <%= f.input :user_floor, collection: floors_collection, include_blank: false, label: "Etage"  %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <%= f.input :apt_reference, include_blank: false, placeholder: "À droite de l'ascenseur...", label: "Reference appartment"  %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :receive_sms, as: :boolean, checked_value: true, unchecked_value: false %>
          </div>
          <div class="col-md-6">
            <%= f.input :receive_email, as: :boolean, checked_value: true, unchecked_value: false %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <%= f.submit 'Créer l\'utilisateur', class: "btn btn-action", id: "user_submit" %>
      </div>
    <% end %>
  </div>
  <table class="table table-hover" data-behavior="autoclick">
      <tr>
        <th>Id</th>
        <th>Inscrit le</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Téléphone</th>
      </tr>

      <% @users.each do |user| %>
      <%= content_tag :tr, id: "users_#{user.id}", data: { user_id: user.id } do %>
        <td><%= user.id %></td>
        <td><%= I18n.l user.created_at.to_date, format: :short %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= format_phone(user.phone_number) %></td>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
