
<div class="row">
  <div class="col-md-2 side-bar">
    <div class="nav-bar">
      <% if(!user_signed_in?) %>
        <%= link_to "Log in", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% else %>
      <%= link_to root_path do %>
      <div class="nav-title">My building<br><span class="address-title">6 rue rivolie</span></div>
      <% end %>
      <a href="<%= new_post_path %>"><i class="fa fa-envelope-o"> Ma messagerie</i></a>
      <a href="<%= edit_user_registration_path %>"><i class="fa fa-user"> Mon profil</i></a>
      <a href="#like"><i class="fa fa-building-o"></i></i> Mon immeuble</a>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "link-to-log" %>
    </div>
  </div>
  <% end %>
</div>
