<nav class="navbar-fixed">
  <div class="container">
    <div class="navbar-header">
      <a href=" <%= home_path %>" class="navbar-brand nav-off-layout">
        <%= image_tag "logo_staircaze_login.png" %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <% if(user_signed_in?) && current_user.apartment_users.length > 1 %>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Changer d'immeuble<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @list_buildings.each do |building| %>
              <%= form_tag apart_path, class: "navbar-form navbar-left button-switch", method: :get do %>
              <div class="form-group">
               <%= hidden_field_tag :building_id, params[:building_id], value: building.apartment.building.id, class: "form-control" %>
               <%= submit_tag building.apartment.building.address, class: "btn btn-primary btn-search" %>
             </div>
             <% end %>
             <% end %>
           </ul>
         </li>
       </ul>
       <% end %>
       <ul class="nav navbar-nav log-on">
        <li class="dropdown">
          <% if(user_signed_in?) %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            M'absenter<span class="caret"></span></a>
            <ul class="dropdown-menu date-leaving">
              <%= form_tag date_path, class: "navbar-form navbar-date", method: :get do %>
              <%= text_field_tag :date_start, "Date de départ" %>
              <%= text_field_tag :date_end, "Date de retour" %>
              <%= submit_tag "GO", class: "btn btn-primary btn-normal" %>
              <% end %>
            </ul>
          </li>
        </ul>
        <% end %>
        <ul class="nav navbar-nav icon-login">
          <% if(!user_signed_in?) %>
          <li><a href="#" data-toggle="modal" data-target="#myModal" class="nav-off">Inscription</a></li>
          <li><a href="#" data-toggle="modal" data-target="#myModal2" class="nav-off2">Connection</a></li>



          <% else %>

          <% if !current_user.endnothere.nil? %>
          <% if (current_user.endnothere <= Time.now) == false %>
          <li>
            <%= link_to "#", id: "absent" do %>
            Vous êtes absent
          </li>
          <% end %>
          <% end %>
          <% end %>
          <li>
            <%= link_to home_path, class: (current_page?(home_path) ? 'border-bot' : '') do %>
            <i class="fa fa-building-o fa-lg"></i>&nbsp;Votre hall
            <% end %>
          </li>
          <li>
            <% if current_user.is_pm %>
            <%= link_to absence_path, class: (current_page?(absence_path) ? 'border-bot' : '') do %>
            <i class="fa fa-calendar fa-lg"></i>&nbsp;Calendrier vacances
            <% end %>
            <% end %>
          </li>

          <% if current_user.is_pm %>
          <li>
            <%= link_to sms_new_path, class: (current_page?(sms_new_path) ? 'border-bot' : '') do %>
            <i class="fa fa-paper-plane"></i>&nbsp;SMS
            <% end %>
          </li>
          <% end %>

        </ul>
        <ul class="nav navbar-nav perso-drop">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "http://lorempixel.com/100/100/people", class: "img-circle avatar-small" %>&nbsp<%= current_user.first_name %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Paramètres de mon compte", edit_user_registration_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Mes appartements", apartments_path %></li>
                <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <% if !user_signed_in? %>
          <%= render '/devise/registrations/new', resource: @user, resource_name: @user %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <% if !user_signed_in? %>
          <%= render '/devise/sessions/new', resource: @user, resource_name: @user %>
          <% end %>
        </div>
      </div>
    </div>




    <script>
    $('#date_start').datepicker({
      dateFormat: 'dd-mm-yy'
    });
    $('#date_end').datepicker({
      dateFormat: 'dd-mm-yy'
    });

    $('#calendar').click(function(){
      $('#calendar').addClass('border-bot');
    })
    </script>


