<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "StairCaze", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if(!user_signed_in?) %>
          <li><%= link_to("Log In", user_session_path, :method => 'post')
          %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% else %>
           <li>
            <%= link_to new_post_path do %>
            <i class="fa fa-envelope-o fa-lg">&nbsp;Messages</i>
          <% end %>
            </li>
      <li>
        <%= link_to root_path do %>
        <i class="fa fa-building-o fa-lg"></i>&nbsp;Hall
        <% end %>
      </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "http://lorempixel.com/100/100/people", class: "img-circle avatar-small" %>&nbsp<%= current_user.first_name %><span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Account setting</a></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


