  <div class="col-md-2 card-calendar sticky">
    <h2 class="text-center">Calendrier</h2>
    <% @events.each do |date, posts| %>
    <label><%= date %></label><br>
    <% posts.each do |post| %>
    <span>De <%= post.user.first_name %></span>
    <p><%= post.title %></p>
    <% end %><hr>
    <% end %>
  </div>

      <div class="col-md-10 col-md-offset-2">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <div class="text-center">
              <h2 class="form-title">Mon hall d'immeuble <br> <span class="address-title"><%= @building.address %> </span></h2>
             <%= link_to "Publier une annonce", new_post_path(@post),:class=>"btn btn-normal btn-annonce" %>

            </div>

            <div class="grid all-post">
            <% @posts.each do |post| %>

            <div class="grid-item">
              <div class="item-content">
                <div class="header text-center">
                  <i class="
                              <%= 'travaux' if post.post_type == 'Travaux / Entretien' %>
                              <%= 'job' if post.post_type == 'Emploi' %>
                              <%= 'event' if post.post_type == "Vie de l'immeuble / Événement" %>
                              <%= 'service' if post.post_type == "Services entre voisins" %>
                              <%= 'vie-admin' if post.post_type == 'Vie adminitrative' %>
                            "
                              data-toggle="popover" data-content="
                                                                  <%= 'Travaux / Entretien' if post.post_type == 'Travaux / Entretien' %>
                                                                  <%= 'Emploi' if post.post_type == 'Emploi' %>
                                                                  <%= "Vie de l'immeuble / Événement" if post.post_type == "Vie de l'immeuble / Événement" %>
                                                                  <%= "Services entre voisins" if post.post_type == "Services entre voisins" %>
                                                                  <%= 'Vie adminitrative' if post.post_type == 'Vie adminitrative' %>
                              " ></i>
                  <div class="avatar"><%= image_tag "profil#{post.user_id}", class: "img-circle avatar-medium" %></div>
                  <div class="info-user">
                    <span class="span-user"><%= post.user.first_name %> <%= post.user.last_name %></span>
                    <span class="span-user time"> <%= time_ago_in_words(post.created_at)%> ago </span>
                  </div>
                </div>
                <div class="content">
                  <h4><%= post.title %></h4>
                  <p><%= post.content %></p>
                  </div>
                  <div class="pull-right icon-post" >
                    <% if current_user && post.user == current_user %>
                      <%= link_to edit_post_path(post) do %>
                      <i id="modifier"></i>
                      <% end %>
                    <% end %>

                    <% if current_user && post.user == current_user %>
                      <%= link_to post, method: :delete, data: { confirm: 'Supprimez cette annonce ?' } do %>
                        <i class="fa fa-times fa-2x " id="delete"></i>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="row">
                    <%= form_tag comment_new_path, class: "form-group", method: :get, remote: true do %>
                    <div class="col-md-9">
                      <%= image_tag "profil#{current_user.id}", class: "img-circle avatar-small avatar-comment" %>
                      <%= text_area_tag :content, "", class: "form-control", id: "comment-text" %>
                      <%= hidden_field_tag :post_id, params[:post_id], value: post.id %>
                    </div>
                    <div class="col-md-3">
                      <%= submit_tag "OK", class: "btn-comment" %>
                    </div>
                    <% end %>
                    <!-- <a data-post=<%= post.id %> onClick="papa(this);"> click-moi cousin </a> -->
                  </div>

                  <div id="<%= post.id %>">
                    <% post.comments.reverse.each_with_index do |comment, index| %>
                      <% if index < 3 %>
                        <div class="panel panel-comment">
                        <%= render './comments/comments', comment: comment %>
                      </div>
                      <% else %>
                        <div class="panel panel-comment hidden hiddenComment-<%= comment.post.id %>">
                        <%= render './comments/comments', comment: comment %>
                      </div>
                      <% end %>
                    <% end %>

                  </div>
                </div>
              </div>

            <% end %>
            </div>
          </div>
        </div>
      </div>
</div>
<script>

$(function(){ // document ready

  if (!!$('.sticky').offset()) { // make sure ".sticky" element exists

    var stickyTop = $('.sticky').offset().top;

    $(window).scroll(function(){ // scroll event

      var windowTop = $(window).scrollTop(); // returns number
      if (stickyTop < windowTop){
        $('.sticky').css({ position: 'fixed', top: 0 });
      }
      else {
        $('.sticky').css({ position: 'fixed', top: 0-(windowTop) });
      }

    });

  }

});

setTimeout(function(){
   window.location.reload(1);
}, 5000);


function papa(elem) {
      var id = $(elem).data('post');
      console.log(id);
      $(".hiddenComment-"+id).toggleClass('hidden');
      }

$(document).ready(function(){

    $('#close-comment').hide();




    $('[data-toggle="popover"]').popover({trigger: "hover"});
    $('[data-toggle="popover1"]').popover({trigger: "hover"});
});</script>
