  <div class="col-md-2 card-calendar sticky">
    <h2 class="text-center">Calendar</h2>
    <% @events.each do |date, posts| %>
    <label><%= date %></label>
    <% posts.each do |post| %>
    <p><%= post.title %></p>
    <p>From : <%= post.user.first_name %></p>
    <% end %><hr>
    <% end %>
  </div>

      <div class="col-md-10 col-md-offset-2">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <div class="text-center">
              <h2 class="form-title">Mon hall d'immeuble </h2>
             <%= link_to "Poster une annonce", new_post_path(@post),:class=>"btn btn-normal btn-annonce" %>

            </div>

            <div class="grid all-post">
            <% @posts.each do |post| %>

            <div class="grid-item">
              <div class="item-content">
                <div class="header text-center">
                  <div class="avatar"><%= image_tag "http://lorempixel.com/100/100/people", class: "img-circle avatar-medium" %></div>
                  <div class="info-user">
                    <span class="span-user"><%= post.user.first_name %> <%= post.user.last_name %></span>
                    <span class="span-user time">le <%= post.message_time.downcase %></span>
                  </div>
                </div>
                <div class="content">
                  <h4><%= post.title %></h4>
                  <p><%= post.content %></p>
                  <p><%= post.date %></p>
                  </div>
                  <div class="pull-right icon-post" >
                  <% if current_user && post.user == current_user %>
                    <%= link_to edit_post_path(post) do %>
                    <i id="modifier"></i>
                    <% end %>
                  <% end %>

                  <% if current_user && post.user == current_user %>
                    <%= link_to post, method: :delete, data: { confirm: 'Supprimez cette annonce ?' } do %>
                      <i class="fa fa-times fa-2x " id="delete"></i>
                    <% end %>
                  <% end %>
                  </div>
                </div>
              </div>

            <% end %>
            </div>



          </div>
        </div>
      </div>
</div>
<script>
$(function(){ // document ready

  if (!!$('.sticky').offset()) { // make sure ".sticky" element exists

    var stickyTop = $('.sticky').offset().top; // returns number

    $(window).scroll(function(){ // scroll event

      var windowTop = $(window).scrollTop(); // returns number

      if (stickyTop < windowTop){
        $('.sticky').css({ position: 'fixed', top: 0 });
      }
      else {
        $('.sticky').css({ position: 'fixed', top: 68 });
      }

    });

  }

});
</script>
