<div class="row card-form row-margin">
  <h2 class="form-title">Envoyer un message</h2>
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
      <%= form_for @post, class: "text-center form-horizontal", id: "register_form" do |f| %>

          <div class="form-group form-box" id="post-type" >
            <label class="label-message col-sm-4 control-label">Type de message</label>
            <%= f.select :post_type, [["Service","Service"],["Organisation immeuble","Organisation immeuble"],["Événement","Événement"]], prompt: "Select un genre de message (service, organisation...)", class: "form-control input-box" %>
          </div>

          <div class="form-group form-box" id="post-title">
            <label class="label-message col-sm-4 control-label">Title</label>
            <%= f.text_field :title, placeholder: "Petit coup de main.., cherche une baby-sitter, évènement", class: "form-control input-box" %>
          </div>

          <div class="form-group form-box" id="post-content">
            <label class="label-message col-sm-4 control-label">Description</label>
            <%= f.text_area :content, placeholder: "J'organise une crémaillère lundi prochain.., Une reunion est prévue le ...", class: "form-control input-box" %>
          </div>

            <div class="form-group form-box" id="post-date">
            <label class="label-message col-sm-4 control-label">Ajouter une date (optionnel)</label>

             <%= f.text_field :date, readonly: 'true', placeholder: 'Date de début', class: "form-control input-box" %>
            </div>
            <div class="form-group form-box" id="post-date">
            <label class="label-message col-sm-4 control-label">Choix de diffusion</label>
            <div class="form-group">
            Avec la rédaction de ce message, je publie cette information dans le hall public virtuel de l'immeuble.
          </div>
          <div class="form-group">
            <%=  check_box_tag :by_email, params[:by_email] %>
            En cochant cette case, j'envoie aussi un email à tous les habitants de l'immeuble
          </div>
           </div>
          <%= f.submit "Envoyer", class: "pull-right", id: "btn-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $( "#show-date" ).click(function() {
  console.log("lol");
  $( "#post-date" ).slideDown();
  $( "#post-date" ).removeClass('hidden');
  });

  $( "#preview-type" ).click(function() {
  $( "#post-title" ).slideUp();
  $( "#post-title" ).addClass('hidden');


});

   $('#post_date').datepicker({
          dateFormat: 'dd-mm-yy'
    });
</script>
