\
<div class="row card-form row-margin">
  <h2 class="form-title">Envoyer un message</h2>
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
      <%= form_for @post, class: "text-center form-horizontal", id: "register_form" do |f| %>

          <div class="form-group form-box" id="post-type" >
            <label class="label-message col-sm-4 control-label">Type de message</label>
            <%= f.select :post_type, [["Service","Service"],["Organisation immeuble","Organisation immeuble"],["Événement","Événement"]], prompt: "Select un genre de message (service, organisation...)", class: "form-control input-box" %>
          </div>

          <div class="form-group form-box" id="post-title">
            <label class="label-message col-sm-4 control-label">Title</label>
            <%= f.text_field :title, placeholder: "Petit coup de main.., cherche une baby-sitter, évènement", class: "form-control input-box" %>
          </div>

          <div class="form-group form-box" id="post-content">
            <label class="label-message col-sm-4 control-label">Description</label>
            <%= f.text_area :content, placeholder: "Je fais une crémaillére lundi prochain.., Une reunion est prévus le ...", class: "form-control input-box" %>
            <br>
            <a class="col-sm-4 control-label" id="show-date">Ajouter une date</a>
            <div class="hidden" id="post-date">
             <%= f.text_field :date, readonly: 'true', placeholder: 'Start Date', class: "form-control input-box" %>
            </div>
          </div>
          <%= f.submit "Envoyer", class: "pull-right", id: "btn-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $( "#show-date" ).click(function() {
  console.log("lol");
  $( "#post-date" ).slideDown();
  $( "#post-date" ).removeClass('hidden');
  });

  $( "#preview-type" ).click(function() {
  $( "#post-title" ).slideUp();
  $( "#post-title" ).addClass('hidden');


});

   $('#post_date').datepicker({
          dateFormat: 'dd-mm-yy'
    });
</script>
