<div class="container">
  <h2 class="form-title">Envoyer un email</h2>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 generate-message-button">
      <% generate_button.each do |button| %>
      <button class="btn <%= button.parameterize %> "><%= button %></button>
      <% end %>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <span class="hint">En cliquant sur un des buttons vous pouvez avoir un message près écris</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= simple_form_for @email, url: email_new_path do |f| %>
        <%= f.input :content, label: false %>
        <%= f.submit "Envoyer", id: "btn-submit" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <%= f.label :recipient, "Destinataires" %>
      <%= f.input :recipient, collection: users_group, include_blank: "-- Choisissez des destinataires --", label: false %>
      <% end %>
    </div>
  </div>
</div>
