<!DOCTYPE html>
<html>
<head>
  <title>StairCaze</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if !current_page?(hallparis_path) %>
    <% if current_user %>
      <%= render 'shared/navbar_login' %>
      <% else %>
      <%= render 'shared/navbar_logout' %>
    <% end %>
    <%= yield %>
    <% else %>
     <%= yield %>
  <% end %>
    <%= render 'shared/message' %>

<script>

$(document).ready(function(){

  toastr.options = {
                      "positionClass": "toast-bottom-full-width"
  }
});

</script>

</body>
</html>
